@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --darkest-blue: #08122F;
    --lighter-blue: #BBD4FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 7px;
    font-size: 1.05rem;
    margin-bottom: 4.25px;
    border-radius: 10px;
    font-weight: 500;
    background-color: var(--lighter-blue);
    border: 1.5px solid var(--lighter-blue);
    outline: none;
    color: var(--darkest-blue);
    cursor: pointer;
    transition: all .25s ease;

    &:hover {
        color: var(--lighter-blue);
        background-color: var(--darkest-blue);
    }
}

section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    // background: var(--darkest-blue);
    background: rgb(12, 27, 70);
    background: radial-gradient(circle, rgba(12, 27, 70, 1) 0%, rgba(8, 18, 47, 1) 76%);

    .container {
        height: 100%;
        width: 85vw;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .title {
            color: var(--lighter-blue);
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        form {
            width: 100%;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .5rem;

            .input {
                width: 100%;

                textarea {
                    resize: none;
                    font-size: 1.25rem;
                    outline: none;
                    transition: all .25s ease;

                    &:focus {
                        background-color: rgba(8, 18, 47, 0.425);
                    }

                    &::placeholder {
                        font-size: 1.25rem;
                        color: var(--lighter-blue);
                    }
                }
            }

            textarea,
            #output {
                width: 100%;
                height: 150px;
                background-color: var(--darkest-blue);
                text-align: left;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
                color: var(--lighter-blue);
                border-radius: 20px;
                border: 1.5px solid var(--lighter-blue);
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 10px;

                    &-thumb {
                        background-image: linear-gradient(transparent, var(--lighter-blue));
                        border-radius: 6px;
                    }
                }
            }

            #output {
                font-size: 1.25rem;
            }

        }
    }
}